html, body{
    height: 100%;
}

body{
  font-family: 'Raleway', sans-serif;
  background: #133956;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #C2925A;
}

a{ color: #fff; }

h1{ display: none; }
h2, h3{ font-weight: normal; }

img{
   max-width: 300px;
}
